/files/cppproject/ConjurerExtensions/.vs/
/files/cppproject/ConjurerExtensions/ConjurerExtensions/
/files/cppproject/stb-master
/files/cppproject/miniz
/files/cppproject/tiny-AES-c-master
/cache
/files/cppproject/rapidfuzz-cpp-3.0.5
/files/cppproject/lua
/files/module/ConjurerExtensions.lib
/files/module/ConjurerExtensions.exp
/files/module/debug/
/files/cppproject/steamworks_sdk_161
/files/cppproject/LuaSteamAPI/.vs/
/files/cppproject/LuaSteamAPI/LuaSteamAPI/
/files/module/LuaSteamAPI.lib
/files/module/LuaSteamAPI.exp
