/files/cppproject/ConjurerExtensions/.vs/
/files/cppproject/ConjurerExtensions/ConjurerExtensions/
/files/cppproject/stb-master
/files/cppproject/miniz
/cache
/files/cppproject/rapidfuzz-cpp-3.0.5
/files/cppproject/lua
/files/module/ConjurerExtensions.lib
/files/module/ConjurerExtensions.exp
/files/module/debug/
